.LoginForm {
  width: 320px;
}

.login {
  margin: 0;
}

.login .login-container,
.register .register-container,
.reset-pass .reset-pass-container{
  min-height: calc(100% - 402px);
}

.login h3,
.register h3,
.reset-pass h3{
  font-size: 24px;
  font-family: "Arial";
  color: rgb(84, 85, 85);
  line-height: 0.75;
}

.RegisterForm span{
  color: #e97e59;
}

.loginForm label,
.RegisterForm label,
.ResetPassForm label{
  font-size: 12px;
  font-family: "Arial";
  color: rgb(84, 85, 85);
  line-height: 1.5;
  text-align: center;
  margin: 3px;
}

.login .LoginForm > div,
.register .RegisterForm > div,
.reset-pass .ResetPassForm > div{
  margin: 10px;
}

.md-button.md-raised[disabled] {
  background-color: rgb(233, 126, 89);
}

.md-raised.dl-register-button {
  background-color: rgb(233, 126, 89);
  width: 300px;
  height: 38px;
}
