.course .md-whiteframe-1dp md-content {
  width: 550px;
}

.course-container {
  width: 100%;
  height: auto;
}

.CourseForm h1,
.course-container h2 {
  color: rgb(233, 126, 89);
  cursor: default;
}

.course-container .course-item {
  border-bottom: 1px solid rgb(233, 126, 89);
  box-sizing: border-box;
  height: 40px;
  color: black;
}

.course-item div:first-child {
  cursor: default;
}

md-menu-item > .md-button span {
  color: black;
}

.course .md-whiteframe-1dp {
  margin: 25px 0 25px 0;
}

.CourseForm {
  width: auto;
}

.CourseForm div > md-input-container {
  width: 100%;
  padding: 8px;
}

.courseDialog {
  width: 350px;
}

.courseDialog .md-dialog-content.courseDialog-content,
.courseDialog .courseDialog-button {
  color: black;
}

.courseDialog .md-toolbar-tools.courseDialog-header {
  background-color: rgb(233, 126, 89);
}

.courseDialog .courseDialog-button.courseDialog-cancel {
  color: red;
}

.admin-course-groups,
.admin-course-teacher,
.admin-course-subject {
  max-width: 350px;
}

.admin-course-groups h1,
.admin-course-teacher h1,
.admin-course-subject h1 {
  color: rgb(233, 126, 89);
}

.admin-course-groups .admin-course-groups-item,
.admin-course-teacher .admin-course-teacher-item,
.admin-course-subject .admin-course-subject-item {
  margin: 3px;
  padding: 3px;
  outline: none;
  color: black;
  cursor: pointer;
  border: 1px solid rgb(233, 126, 89);
  width: 200px;
}

.admin-course-groups .admin-course-groups-item:hover,
.admin-course-teacher .admin-course-teacher-item:hover,
.admin-course-subject .admin-course-subject-item:hover {
  color: rgb(233, 126, 89);
}

.admin-course-info {
  width: 450px;
}

.admin-course-info h1 {
  color: rgb(233, 126, 89);
  text-align: center;
}

.admin-course-info-content {
  height: 150px;
  border: 1px dashed rgb(233, 126, 89);
  border-radius: 15px;
  color: rgb(233, 126, 89);
  padding: 5px;
}

.not-active-course {
  color: rgba(52, 52, 52, 0.5);
}
