.faculty-list-container {
  width: 360px;
}

.faculty-list-container li {
  margin: 5px;
  color: #e97e59;
}

.faculty-list-container li span {
  font-size: 14px;
  font-family: "Arial";
  color: rgb(84, 85, 85);
}

.faculty-list-title {
  font-size: 16px;
  font-family: "Times New Roman";
  color: rgb(84, 85, 85);
  border-bottom: 1px solid #e97e59;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}

.faculty-list-item {
  height: 45px;
  font-family: "Arial";
  color: rgb(84, 85, 85);
  text-align: left;
}

.faculty-list-container a,
.faculty-list-container a:visited {
  color: rgb(84, 85, 85);
  text-align: left;
}

.faculty-list-container a:active,
.faculty-list-container a:hover {
  text-decoration: none;
  color: #e97e59;
}

.faculty-list-item .faculty-list-directions {
  outline: none;
  cursor: pointer;
}

.faculty-list-item .faculty-list-directions:hover {
  color: #e97e59;
}

.pagination .pagination-page {
  outline: none;
  background-color: rgb(233, 126, 89);
  width: 16px;
  height: 16px;
  margin: 2px;
}


.admin-faculty .md-whiteframe-1dp md-content {
  width: 550px;
}

.admin-faculty-container {
  width: 100%;
  height: auto;
}

.admin-faculty-container h2 {
  color: rgb(233, 126, 89);
  cursor: default;
}

.admin-faculty-container .admin-faculty-item {
  border-bottom: 1px solid rgb(233, 126, 89);
  box-sizing: border-box;
  height: 40px;
  color: black;
}

.admin-faculty-item div:first-child {
  cursor: default;
}

.facultyListAdminDialog {
  width: 350px;
}

.facultyListAdminDialog .md-dialog-content.facultyListAdminDialog-content,
.facultyListAdminDialog .facultyListAdmin-button {
  color: black;
}

.facultyListAdminDialog .md-toolbar-tools.facultyListDialog-header {
  background-color: rgb(233, 126, 89);
}

.facultyListAdminDialog .facultyListAdmin-button.facultyListAdmin-cancel {
  color: red;
}

.FacultyAdminForm h2 {
  color: #000;
}

.FacultyAdminForm h2 > span {
  color: rgb(233, 126, 89);
}

.faculty-admin-info .FacultyAdminForm {
  width: auto;
}

.faculty-admin-info .FacultyAdminForm div > md-input-container {
  width: 100%;
  padding: 8px;
}