.footer {
  background-color: rgb(50, 49, 48);
  width: auto;
}

.footer .footer-menu {
  border-bottom: 1px solid #41403f;
}

.footer .footer-menu a {
  color: #fcfdfd;
}

.footer .footer-menu a:hover {
  color: rgba(233, 126, 89, 0.99);
}

.footer .footer-container {
  margin-top: 50px;
}

.footer .footer-container .footer-contact,
.footer .footer-container .social-networks-container {
  width: 250px;
  height: 160px;
  margin: 0 35px 15px 35px;
}

.footer .footer-container .footer-contact .contact-header,
.footer .footer-container .social-networks-container .social-networks-header{
  font-size: 14px;
  font-family: "Arial";
  color: rgb(253, 252, 251);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}

.footer .footer-container .footer-contact .contact-body {
  font-size: 12px;
  font-family: "Arial";
  color: rgb(147, 142, 142);
  text-align: left;
}

.footer .footer-container .footer-contact .contact-body img,
.footer .footer-container .footer-contact .contact-body span{
  vertical-align: middle;
}

.footer .footer-container .footer-contact .contact-body div:first-child img{
  margin: 0 5px 0 5px;
}

.footer .footer-container .footer-contact .contact-body img {
  margin: 0 9px 0 5px;
}
.footer .footer-container .footer-contact .contact-body div:last-child img{
  margin: 0 10px 0 5px;
}

.footer .footer-container .footer-contact .contact-body div {
  height: 25px;
  padding-top: 10px;
  border-top: 1px solid #41403f;
}

.footer .footer-container .social-networks-container .social-networks-body img {
  margin: 15px;
}

.login {
  margin: 0 35px 15px 35px;
}

.dl-footer-input {
  border: 1px solid rgb(6, 6, 6);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  width: 233px;
  height: 35px;
  padding: 15px;
  margin: 5px;
  font-size: 12px;
  font-family: "Arial";
  outline: none;
}

.md-raised.dl-footer-button {
  border: 1px solid rgb(233, 126, 89);
  border-radius: 0;
  width: 90px;
  height: 26px;
}

.md-button.md-raised[disabled] {
  background-color: rgb(233, 126, 89);
}
