.admin-group .admin-group-container {
  color: #1d1d1d;
  width: 750px;
  border: 1px solid rgb(233, 126, 89);
  border-radius: 20px;
}
.admin-group .admin-group-container > div {
  width: 450px;
}

.admin-group .admin-group-container .group-faculty-container-item,
.admin-group .admin-group-container .group-direction-container-item {
  outline: none;
  cursor: pointer;
}

.admin-group .admin-group-container .group-faculty-container-item:hover,
.admin-group .admin-group-container .group-direction-container-item:hover,
.admin-group .admin-group-container div > h3 {
  color: rgb(233, 126, 89);
}

.admin-group .group-info-container {
  width: 750px;
}

.admin-group .group-student-remove-img {
  opacity: 0.5;
  outline: none;
}

.admin-group .group-student-remove-img:hover {
  opacity: 1;
}
