.home-page p,
.home-page li,
.home-page li span {
  font-size: 14px;
  font-family: "Arial";
  color: rgb(157, 155, 154);
}

.home-header-menu-header {
  border-top: 1px solid rgb(218, 212, 212);
}

.home-page .header-info {
  background-color: #323130;
}

.home-page .header-info .header-title {
  font-size: 18px;
  font-family: "Times New Roman";
  color: rgb(157, 155, 154);
  text-transform: uppercase;
  text-align: center;
}

.home-page .header-info .header-title span {
  border-bottom: 2px solid rgb(233, 126, 89);
}

.home-page .header-info div:last-child {
  font-size: 14px;
  font-family: "Arial";
  text-align: justify;
  color: rgb(157, 155, 154);
  max-width: 710px;
}

.home-page li {
  color: #e97e59;
}

.home-header-login-panel {
  margin-right: 50px;
}

.home-header-login-panel > div {
  font-size: 12px;
  font-family: "Times New Roman";
  color: rgb(233, 126, 89);
  text-transform: uppercase;
  text-align: left;
  width: 90px;
  height: 55px;
  padding: 20px;
  border: 1px solid rgb(218, 212, 212);
  border-bottom: none;
}

.home-header-login-panel span {
  margin-right: 5px;
}

.home-header-login-panel .register-link {
  width: 130px;
  border-left: none;
}

.home-header-login-panel .user-info{
  border: none;
  width: 350px;
  padding: 15px 0 15px 5px;
  height: inherit;
  outline: none;
}

.home-header-login-panel .user-info img {
  vertical-align: middle;
  outline: none;
}

.home-header-login-panel .user-info span {
  cursor: pointer;
  outline: none;
}