.LoginForm {
  width: 320px;
}

.login {
  margin: 0;
}

.loginForm label {
  font-size: 12px;
  font-family: "Arial";
  color: rgb(84, 85, 85);
  line-height: 1.5;
  text-align: center;
}

.login .LoginForm > div {
  margin: 10px;
}

.login-input {
  border: 1px solid rgb(233, 126, 89);
  /*width: 240px;*/
  height: 36px;
  padding: 5px;
}

.md-raised.login-button {
  border: 1px solid rgb(233, 126, 89);
  width: 90px;
  height: 26px;
}

.md-button.md-raised[disabled] {
  background-color: rgb(233, 126, 89);
}
