.dl-reset-pass-button{
  width: 200px;
}

.profile-teacher,
.profile-student {
  font-size: 12px;
  font-family: "Arial";
  color: rgb(84, 85, 85);
}

.profile-teacher .profile-teacher-container,
.profile-student .profile-student-container {
  border-bottom: 1px solid rgb(157, 155, 154);
}

.profile-teacher .profile-teacher-container img,
.profile-student .profile-student-container img {
  border-radius: 100px;
  border: 10px solid rgb(233, 126, 89);
  width: 175px;
  height: 175px;
}

.profile-teacher .profile-teacher-container .profile-teacher-username > div:first-child,
.profile-student .profile-student-container .profile-student-username {
  color: #e97e59;
  font-size: 14px;
  text-transform: uppercase;
}

.profile-teacher .profile-teacher-container .profile-teacher-info,
.profile-student .profile-student-container .profile-student-info {
  border-left: 4px solid rgb(233, 126, 89);
}

.profile-teacher .profile-teacher-container .profile-teacher-info span,
.profile-student .profile-student-container .profile-student-info span {
  margin: 5px;
}

.profile-teacher #group-container,
.profile-student #subject-container {
  margin: 10px;
  padding: 10px;
  height: 223px;
  width: 250px;
  border: 1px solid rgb(233, 126, 89);
  border-radius: 0 20px 0 20px;
}

.profile-teacher #group-container #header,
.profile-student #subject-container #header {
  font-size: 14px;
  font-family: "Arial";
  color: rgb(41, 41, 40);
  text-align: left;
  margin: 10px;
}

.profile-teacher #group-container #header div:last-child,
.profile-student #subject-container #header div:last-child {
  background-color: rgb(233, 126, 89);
  width: 37px;
  height: 5px;
}

.profile-teacher .group-item,
.profile-student .subject-item {
  box-sizing: border-box;
  min-height: 30px;
  padding: 6px;
  margin-left: 15px;
  font-size: 12px;
  font-family: "Arial";
  color: rgb(41, 41, 40);
  cursor: pointer;
  border-bottom: 1px solid rgba(233, 126, 89, 0.5);
  outline: none;
}

.teacher-students-container #students-container .student-item span:hover,
.profile-teacher .group-item:hover,
.profile-student .subject-item:hover {
  color: rgb(233, 126, 89);
}

.profile-teacher .group-item,
.profile-student .subject-item.clear {
  margin-left: 40px;
}

.profile-student .subject-item span {
  text-align: center;
  color: rgb(233, 126, 89);
  margin-right: 15px;
}

.group-container,
.subject-container {
  border: 1px solid rgb(157, 155, 154);
  width: 550px;
  height: auto;
  border-radius: 0 20px 0 20px;
}

.task-list {
  max-height: 320px;
  overflow: auto;
  min-width: 93px;
}

.task-item .md-icon-button {
  height: 64px;
  width: 64px;
}

.group-header-info,
.subject-header-info {
  font-size: 12px;
  font-family: "Arial";
  color: rgb(84, 85, 85);
  text-align: left;
}

.group-header-info div,
.subject-header-info div {
  margin: 15px;
}

.group-header-info span,
.subject-header-info span {
  border-bottom: 1px solid rgb(233, 126, 89);
}

.task-action-button {
  width: inherit;
}

.group-content,
.subject-content {
  font-size: 12px;
  font-family: "Arial";
  color: rgb(84, 85, 85);
  line-height: 1.5;
  text-align: justify;
}

.group-content > div:first-child,
.subject-content > div:first-child {
  max-height: 600px;
  overflow: auto;
}


.md-raised.task-button {
  border: 1px solid rgb(233, 126, 89);
  background-color: rgb(233, 126, 89);
  border-radius: 0;
  width: 208px;
  height: 46px;
  font-size: 12px;
  font-family: "Arial";
  color: rgb(249, 251, 251);
  text-transform: uppercase;
  line-height: 0.28;
  text-align: center;
}

.group,
.subject {
  margin-top: 8px;
}

.task-container {
  margin-bottom: 25px;
}

.menu-admin .menu-admin-container {
  min-height: calc(100% - 330px);
}

.menu-admin .menu-admin-container .menu-admin-users,
.menu-admin .menu-admin-container .menu-admin-faculties{
  border: 2px solid rgb(233, 126, 89);
  width: 302px;
  height: 200px;
  font-size: 15px;
  font-family: "Arial";
  color: rgb(1, 1, 1);
  margin: 20px;
}

.menu-admin .menu-admin-container .menu-admin-users img,
.menu-admin .menu-admin-container .menu-admin-faculties img{
  margin: 35px;
  width: 100px;
}

.menu-admin .menu-admin-container .menu-admin-users:hover,
.menu-admin .menu-admin-container .menu-admin-faculties:hover{
  background-color: rgb(233, 126, 89);
}
.teacher-students-container #students-container {
  margin: 10px;
  padding: 10px;
  height: 500px;
  width: 250px;
  border: 1px solid rgb(233, 126, 89);
  border-radius: 0 20px 0 20px;
}

.teacher-students-container  h2{
  color : rgb(233, 126, 89);
}

.teacher-students-container #students-container .student-item {
  color: rgb(84, 85, 85);
  margin: 10px;
  border-bottom: 1px solid rgb(233, 126, 89);
}

.teacher-students-container #students-container .student-item span {
  outline: none;
}

.teacher-students-container #students-container .student-item span:hover {
  cursor: pointer;
}
