body {
  color: #f5f4f4;
  font-size: 14px;
  font-family: "Times New Roman";
}

a,
a:visited {
  text-decoration: none;
  color: #9d9b9a;
  outline: none;
}

a:active,
a:hover {
  text-decoration: none;
  color: #e97e59;
}

.md-button.md-raised:not([disabled]):hover {
  background-color: rgb(174, 64, 26);
}

.dl-input {
  border: 1px solid rgb(233, 126, 89);
  height: 36px;
  padding: 5px;
}
