html, body {
  color: #f5f4f4;
  font-size: 14px;
  font-family: "Times New Roman";
  height: 100%;
  margin: 0;
  padding: 0;
}

.scroll {
  height: 100%;
}

#map {
  width: 302px;
  height: 200px;
  margin: 20px;
}

a,
a:visited {
  text-decoration: none;
  color: #9d9b9a;
  outline: none;
}

a:active,
a:hover {
  text-decoration: none;
  color: #e97e59;
}

.md-button.md-raised:not([disabled]):hover {
  background-color: rgb(174, 64, 26);
}

.dl-input {
  border: 1px solid rgb(233, 126, 89);
  height: 36px;
  padding: 5px;
  outline: none;
}

/*::-webkit-scrollbar {*/
  /*width: 6px;*/
/*}*/

/*::-webkit-scrollbar-track {*/
  /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
  /*background: rgb(233, 126, 89);*/
  /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);*/
/*}*/

.md-fling.float-button.lock-size {
  position: fixed;
  bottom: 25px;
  right: 25px;
  margin-left: auto;
  margin-right: auto;
}

md-select.md-default-theme:not([disabled]):focus .md-select-value, md-select:not([disabled]):focus .md-select-value {
  border-bottom-color: rgb(233, 126, 89);
}

md-select.md-default-theme:not([disabled]) .md-select-value, md-select:not([disabled]) .md-select-value {
  color: rgb(84, 85, 85);
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label, md-input-container:not(.md-input-invalid).md-input-has-value label {
  color: rgb(233, 126, 89);
}

.ng-inline-edit__text {
  outline: none;
  cursor: pointer;
}

.drop-file-container {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

.non-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

[ng-drag].dragging{
  background-color: rgb(252, 255, 123);
}
[ng-drag].drag-over{
  background-color: rgba(64, 255, 50, 0.49);
}