html, body {
  color: #f5f4f4;
  font-size: 14px;
  font-family: "Times New Roman";
  height: 100%;
  margin: 0;
  padding: 0;
}

.scroll {
  height: 100%;
}

#map {
  width: 302px;
  height: 200px;
  margin: 20px;
}

a,
a:visited {
  text-decoration: none;
  color: #9d9b9a;
  outline: none;
}

a:active,
a:hover {
  text-decoration: none;
  color: #e97e59;
}

.md-button.md-raised:not([disabled]):hover {
  background-color: rgb(174, 64, 26);
}

.dl-input {
  border: 1px solid rgb(233, 126, 89);
  height: 36px;
  padding: 5px;
  outline: none;
}

/*::-webkit-scrollbar {*/
  /*width: 6px;*/
/*}*/

/*::-webkit-scrollbar-track {*/
  /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
  /*background: rgb(233, 126, 89);*/
  /*-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);*/
/*}*/

.md-fling.float-button.lock-size {
  position: fixed;
  bottom: 25px;
  right: 25px;
  margin-left: auto;
  margin-right: auto;
}

md-select.md-default-theme:not([disabled]):focus .md-select-value, md-select:not([disabled]):focus .md-select-value {
  border-bottom-color: rgb(233, 126, 89);
}

md-select.md-default-theme:not([disabled]) .md-select-value, md-select:not([disabled]) .md-select-value {
  color: rgb(84, 85, 85);
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label, md-input-container:not(.md-input-invalid).md-input-has-value label {
  color: rgb(233, 126, 89);
}

.ng-inline-edit__text {
  outline: none;
  cursor: pointer;
}

.drop-file-container {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.non-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.wrapper-item {
  border: 1px solid rgba(233, 126, 89, 0.5);
}
.cursor-pointer {
  cursor: pointer;
}

[ng-drag].dragging {
  background-color: rgb(252, 255, 123);
}

[ng-drag].drag-over{
  background-color: rgba(64, 255, 50, 0.49);
}

md-radio-button:not([disabled]).md-primary.md-checked .md-label,
md-checkbox.md-default-theme.md-checked .md-label, md-checkbox.md-checked {
  color: rgb(233, 126, 89) !important;
}

md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon,
md-radio-button:not([disabled]).md-primary .md-on {
  background-color: rgb(233, 126, 89);
}

md-radio-button:not([disabled]).md-primary.md-checked .md-off {
  border-color: rgb(233, 126, 89) !important;
}

.md-subheader.md-default-theme.md-primary, .md-subheader.md-primary {
  color: rgb(233, 126, 89);
}

md-icon,
span,
.outline-off {
  outline: none;
}

.text-with-style {
  color: rgb(233, 126, 89);
  border-bottom: 1px solid rgb(233, 126, 89);
}

md-dialog .md-dialog-content {
  color: black;
}

md-dialog .md-dialog-content h2 {
  color: rgb(233, 126, 89);
}

md-bottom-sheet.md-grid md-list-item .md-grid-item-content {
  width: 100%;
  color: rgb(233, 126, 89);
}

md-bottom-sheet.md-grid md-list-item .md-grid-text {
  width: 100%;
}

md-bottom-sheet.md-grid {
  position: fixed;
}
md-sidenav ul {
  list-style: inherit;
}

.cke_contents,
.ckeditor-style {
  color: black !important;
  overflow: hidden;
}

.ckeditor-style h1, .ckeditor-style h2, .ckeditor-style h3, .ckeditor-style h4, .ckeditor-style h5, .ckeditor-style h6,
.cke_contents h1, .cke_contents h2, .cke_contents h3, .cke_contents h4, .cke_contents h5, .cke_contents h6 {
  color: rgb(233, 126, 89) !important;
}


.ckeditor-style md-input-container .md-placeholder, md-input-container label:not(.md-no-float):not(.md-container-ignore) {
  z-index: 0;
}

.text-with-simple-style {
  color: rgb(233, 126, 89);
}

.separator-top {
  border-top: 1px dashed rgb(233, 126, 89);
}