.test-build {
  color: rgb(84, 85, 85);
}

.test-build .test-build-question {
  border-top: 1px solid rgba(233, 126, 89, 0.3);
  border-bottom: 1px solid rgba(233, 126, 89, 0.3);
  height: 150px;
  overflow: auto;
  outline: none;
  cursor: pointer;
}

.test-build .test-build-container .test-build-content {
  width: 100%;
}

.test-build .test-build-container .test-build-content .test-build-image-container {
  width: 200px;
}

.test-build .test-build-container {
  border-top: 1px solid rgb(233, 126, 89);
  width: 650px;
  margin-bottom: 20px;
}

.test-build .test-build-container h1 {
  color: rgb(233, 126, 89);
}

.test-build .test-build-container md-input-container {
  width: 240px;
}

.test-build-buttons .md-raised.test-create-button {
  background-color: rgb(233, 126, 89);
  width: 250px;
  height: 38px;
}

.test-build .test-build-container .test-build-content .test-questions-container {
  max-height: 150px;
  width: 98%;
  overflow: auto;
  cursor: default;
}

.test-questions-container .test-question-item {
  margin: 3px;
  text-align: justify;
}

.test-answer-container {
  height: 160px;
  overflow: auto;
  margin-bottom: 15px;
}

.test-answer-container .test-answer-item .test-answer-item-name {
  margin: 1px 5px 0 0;
  max-width: 380px;
  outline: none;
  cursor: pointer;
}

.test-answer-container .test-answer-item .test-answer-item-name p {
  margin: 0;
}

.test-answer-container .test-answer-item {
  min-height: 15px;
  width: 100%;
  outline: none;
  cursor: pointer;
}

.admin-test-list-template h1 {
  color: rgb(233, 126, 89);
}

.admin-test-list-template .admin-test-container {
  height: 450px;
  width: 500px;
  color: black;
}

.admin-tests {
  color: black;
}

.admin-tests h1 {
  color: rgb(233, 126, 89);
}

.preview-img img {
  width: 160px;
  height: 100px;
}

.test-pass .test-pass-header {
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}

.test-pass .test-pass-header h1,
.test-pass .test-pass-content .question-header {
  color: rgb(233, 126, 89);
}

.test-pass .test-pass-content .question-content md-radio-button,
.test-pass .test-pass-content .question-content md-checkbox {
  margin-left: inherit;
  margin-right: inherit;
  color: black;
}

.fix-footer {
  min-height: calc(100% - 434px);
}

.test-result md-whiteframe {
  width: 500px;
}


.A { background-color: #358a68; }
.B { background-color: #65b032; }
.C { background-color: #ccdf16; }
.D { background-color: #fef200; }
.E { background-color: #f9bc02; }
.FX { background-color: #f2a204; }
.F { background-color: #e4400a; }

.point-info > div {
  width: 50px;
  text-align: center;
  vertical-align: middle;
}

.test-result-search-user-input {
  border: 1px hidden rgb(233, 126, 89);
}
