.test-build {
  color: rgb(84, 85, 85);
}

.test-build .test-build-container .test-build-content {
  width: 100%;
}

.test-build .test-build-container {
  border: 1px solid black;
  width: 650px;
  height: 500px;
  margin-bottom: 20px;
}

.test-build .test-build-container h1 {
  color: rgb(233, 126, 89);
}

.test-build .test-build-container md-input-container {
  width: 240px;
}

.test-build-buttons .md-raised.test-create-button {
  background-color: rgb(233, 126, 89);
  width: 250px;
  height: 38px;
}

.test-build .test-build-container .test-build-content .test-questions-container {
  max-height: 150px;
  width: 98%;
  overflow: auto;
  cursor: default;
}

.test-questions-container .test-question-item {
  margin: 3px;
  text-align: justify;
}

.test-answer-container {
  width: 100%;
  max-height: 650px;
  overflow: auto;
}

.test-answer-container .test-answer-item .test-answer-item-name {
  margin: 1px 5px 0 0;
  max-width: 380px;
}

.test-answer-container .test-answer-item {
  min-height: 15px;
  width: 100%;
}

.admin-test-list-template h1 {
  color: rgb(233, 126, 89);
}

.admin-test-list-template .admin-test-container {
  height: 450px;
  width: 500px;
  color: black;
}
}

.admin-tests {
  color: black;
}

.admin-tests h1 {
  color: rgb(233, 126, 89);
}

.preview-img img{
  width: 160px;
  height: 100px;
}
