.users .md-whiteframe-1dp md-content {
  width: 550px;
}

.user-container {
  width: 100%;
  height: auto;
}

.user-container h2 {
  color: rgb(233, 126, 89);
  cursor: default;
}

.user-container .user-item {
  border-bottom: 1px solid rgb(233, 126, 89);
  box-sizing: border-box;
  height: 40px;
  color: black;
}

.user-item div:first-child {
  cursor: default;
}

md-menu-item > .md-button span {
  color: black;
}

.user .md-whiteframe-1dp {
  margin: 25px 0 25px 0;
}

.UserForm {
  width: auto;
}

.UserForm div > md-input-container {
  width: 100%;
  padding: 8px;
}

.edit-user-role {
  width: 200px;
}

.edit-user-currect-role {
  color: #8a8a8a;
}

.userDialog {
  width: 350px;
}

.userDialog .md-dialog-content.userDialog-content,
.userDialog .userDialog-button {
  color: black;
}

.userDialog .md-toolbar-tools.userDialog-header {
  background-color: rgb(233, 126, 89);
}

.userDialog .userDialog-button.userDialog-cancel {
  color: red;
}