<adminMenu></adminMenu>

		
<div class="container theme-showcase" role="main" style="margin-top: 100px">
    <form class="col-md-6 col-md-offset-3">
        <div class="form-group">
            <label for="faculty-name">
                Название факультета:
            </label>

            <input type="text" id="faculty-name" class="form-control" ng-model="faculty.name">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary pull-right" ng-click="submit()">Создать</button>
        </div>
    </form>
</div>