.dl-file-upload-image img{
  width: 150px;
  height: 150px;
}

.dl-file-upload-file img {
  width: 300px;
  height: 200px;
}

.dl-file-upload-file,
.dl-file-upload-image {
  min-width: 350px;
  min-height: 300px;
}


.dl-file-upload-file .dl-file-upload-file-header,
.dl-file-upload-image .dl-file-upload-image-header{
  background-color: #e97e59;
}