<div class="non-select">
  <md-progress-linear md-mode="indeterminate"
                      ng-if="coursePageInfo.loading"></md-progress-linear>
  <div class="admin-subject-info-container"
       ng-if="!coursePageInfo.loading"
       layout="column" layout-align="center center"
       layout-fill layout-padding>
    <md-whiteframe class="md-whiteframe-1dp"
                   layout="column" layout-align="center center">
      <div layout layout-align="space-between start"
           layout-xs="column" layout-sm="column"
           layout-magin layout-padding>
        <div class="admin-subject-teacher">
          <h1>Викладачі</h1>
          <div class="pagination"
               layout layout-align="center center"
               layout-magin layout-padding
               ng-if="!coursePageInfo.loadingTeachers">
            <div class="pagination-page"
                 ng-repeat="page in coursePageInfo.range(coursePageInfo.teachers.total) track by $index"
                 ng-click="coursePageInfo.jumpToTeacherPage($index + 1)">
              {{ $index + 1 }}
            </div>
          </div>
          <md-progress-circular class="md-warn md-hue-3"
                                md-mode='indeterminate'
                                ng-if="coursePageInfo.loadingTeachers"></md-progress-circular>
          <div class="admin-subject-teacher-item"
               ng-repeat="teacher in coursePageInfo.teachers.data track by $index"
               ng-if="!coursePageInfo.loadingTeachers"
               ng-drag="true" ng-drag-data="{ teacher: teacher, type: 'teacher' }" data-allow-transform="true">
            {{ teacher.surname }} {{ teacher.name }}
          </div>
        </div>
        <div class="admin-subject-info"
             ng-drop="true" ng-drop-success="subjectPageInfo.onDropComplete($data, $event)">
          <h1>Предмет</h1>

          <div class="admin-subject-info-content">
            <h4>Факультет: {{ coursePageInfo.course.faculty.name }}</h4>

            <h4>Викладач: {{ coursePageInfo.course.teacher.surname }} {{ coursePageInfo.course.teacher.name }}</h4>

            <h4 class="admin-subject-info-name"
                inline-edit="coursePageInfo.course.name"
                inline-edit-callback="coursePageInfo.editCourseName(newValue)"
                inline-edit-btn-edit=""
                inline-edit-on-blur="save"
                inline-edit-on-click></h4>
          </div>
        </div>
        <div class="admin-subject-facultyDirection"
             layout="column">
          <h1>Факультети</h1>
          <md-progress-circular class="md-warn md-hue-3"
                                md-mode='indeterminate'
                                ng-if="coursePageInfo.loadingFacultyDirection"></md-progress-circular>
          <div class="pagination"
               layout layout-align="center center"
               layout-magin layout-padding
               ng-if="!coursePageInfo.loadingFacultyDirection">
            <div class="pagination-page"
                 ng-repeat="page in coursePageInfo.range(coursePageInfo.facultyDirection.total) track by $index"
                 ng-click="coursePageInfo.jumpToFacultyPage($index + 1)">
              {{ $index + 1 }}
            </div>
          </div>
          <div class="admin-subject-facultyDirection-item"
               layout-align="space-around center"
               ng-repeat="faculty in coursePageInfo.facultyDirection.data track by $index"
               ng-if="!coursePageInfo.loadingFacultyDirection"
               ng-drag="true" ng-drag-data="{ faculty: faculty, type: 'faculty' }" data-allow-transform="true">
            {{ faculty.name }}
          </div>
        </div>
      </div>
      <div layout layout-align="end center"
           layout-magin layout-padding>
        <md-button class="md-raised" type="submit"
                   ng-click="coursePageInfo.saveCourse()">
          Зберегти
        </md-button>
        <md-button class="md-raised"
                   ng-click="coursePageInfo.cancelCourse()">
          Скасувати
        </md-button>
      </div>
    </md-whiteframe>
  </div>
</div>
