<div class="home-page"
     layout="column"
     ng-cloak>
  <div class="home-header-login-panel"
       layout="row" layout-align="end center"
       ng-if="!home.userCheck()">
    <div>
      <a ng-href="/#/login" layout>
        <span><img src="assests/images/key.png" alt=""></span>
        Вхід
      </a>
    </div>
    <div class="register-link">
      <a ng-href="/#/register" layout>
        <span><img src="assests/images/locked.png" alt=""></span>
        Реєстрація
      </a>
    </div>
  </div>
  <div class="home-header-login-panel"
       layout layout-align="end center"
       ng-if="home.userCheck()">
    <div class="user-info"
         layout layout-align="space-around center">
      <div>
        <img src="./assests/images/ic_account_circle_black_24dp_1x.png" alt=""
             ng-click="home.gotoProfile()"/>
        <span ng-click="home.gotoProfile()">
          {{ home.user.email }}
        </span>
      </div>
      <md-button class="md-icon-button" aria-label="" ng-click="home.logout()">
        <md-icon md-svg-icon="{{ home.logoutIconURL }}"></md-icon>
        <md-tooltip>Вийти</md-tooltip>
      </md-button>
    </div>
  </div>
  <menu-client class="home-header-menu-header"></menu-client>
  <div class="header-info"
       layout="row" layout-align="center center"
       layout-margin layout-padding
       flex-offset="66">
    <div layout-margin="33"
         hide show-md show-gt-md show-lg show-gt-lg>
      <img src="assests/images/header-info-man.gif" alt="">
    </div>
    <div>
      <div class="header-title"><span>Заочно дистанційна освіта</span></div>
      <p>
        Реалії сьогодення свідчать, що практично всі сфери життя сучасної людини зазнали суттєвих змін внаслідок впливу
        комп’ютерних та інформаційних технологій, що призвело до розвитку та модернізації системи освіти. Суть такої
        модернізації найбільше відбилася в концепції дистанційної освіти, яка, завдяки такому глобальному явищу як
        Інтернет, охоплює широкі шари суспільства та стає найважливішим фактором його розвитку. Особливого значення така
        модернізація системи освіти набуває в Україні.
      </p>

      <p>
        Сучасному суспільству потрібна якісна освіта, яка спроможна забезпечити зрослі вимоги до споживача та виробника
        матеріальних і духовних благ. Виконати соціальне замовлення суспільства через збільшення асигнувань на освіту,
        збільшення кількості навчальних закладів та іншими традиційними способами не в змозі навіть заможні країни. Тому
        поява дистанційної освіти не випадкова, це закономірний етап розвитку та адаптації освіти до сучасних умов.
      </p>

      <p>
        Дистанційне навчання – сукупність наступних заходів: засоби надання навчального матеріалу студенту; засоби
        контролю успішності студента; засоби індивідуальної консультації студента у викладача; засоби інтерактивної
        співпраці викладача і студента; можливість швидкого доповнення курсу новою інформацією, коригування помилок.
      </p>

      <p>
        Високі інформаційні технології, які Ми використовуємо, дозволять Вам здобути обрану спеціальність та набути
        відповідної кваліфікації за допомогою комунікаційних засобів через мережу Іnternet.
      </p>

      <p>
        Вам не потрібно щоденно відвідувати заняття і конспектувати лекції. Повні електронні конспекти лекцій наших
        викладачів Ви маєте можливість отримати в готовому електронному вигляді вдома, на роботі, або Інтернет-кафе.
      </p>

      <p>
        Центр доуніверситетської підготовки і післядипломної освіти пропонує індивідуальні навчальні програми студентам
        в залежності від спеціальності, яку вони обрали. Ми пропонуємо вам наступні спеціальності:
      </p>
      <ui>
        <li ng-repeat="spec in home.specialtyAreas">
          <span>{{ spec.name }}</span>
        </li>
      </ui>
    </div>
  </div>
  <!--  <news></news>-->
  <faculty-home></faculty-home>
  <teacher></teacher>
  <contact></contact>
  <footer></footer>
</div>
