<div class="reset-pass">
  <md-progress-linear md-mode="indeterminate"
                      ng-if="UserResetPass.loading"></md-progress-linear>
  <div ng-if="!UserResetPass.loading">
    <menu-client></menu-client>
    <div class="reset-pass-container"
         layout="column" layout-align="center center"
         layout-margin layout-padding
         layout-wrap>
      <h3 layout layout-align="start center">
        Змінення паролю
      </h3>

      <form name="ResetPassForm"
            class="ResetPassForm"
            layout="column" layout-align="center none">
        <div layout="column">
          <label>Пароль</label>
          <input type="password" class="dl-input"
                 required
                 ng-model="UserResetPass.user.password"/>
        </div>
        <div layout="column">
          <label>Повторити пароль</label>
          <input type="password" class="dl-input"
                 required
                 ng-model="UserResetPass.user.password_confirmation"/>
        </div>
        <div layout layout-align="space-around center">
          <md-button class="md-raised dl-reset-pass-button" type="submit"
                     ng-click="UserResetPass.resetPass(UserResetPass.user)"
                     ng-disabled="ResetPassForm.$invalid">
            Змінити пароль
          </md-button>
          <md-button class="md-raised dl-reset-pass-button" type="submit"
                     ng-click="UserResetPass.cancel()">
            Скасувати
          </md-button>
        </div>
      </form>
    </div>
    <footer></footer>
  </div>
</div>
