<div class="menu-client"
     layout="row" layout-sm="column" layout-align="end center">
  <div class="menu-client-normal"
       layout="row" layout-align="end center"
       layout-margin layout-padding>
    <md-button class="md-icon-button" aria-label=""
               ng-click="menuClient.goToHome()">
      <md-icon md-svg-src="{{ menuClient.homeIconURL }}" aria-label=""></md-icon>
      <md-tooltip>Головна</md-tooltip>
    </md-button>
    <md-button class="md-icon-button" aria-label=""
               ng-click="menuClient.goToFaculty()">
      <md-icon md-svg-src="{{ menuClient.facultyIconURL }}" aria-label=""></md-icon>
      <md-tooltip>Факультети</md-tooltip>
    </md-button>
    <div ng-if="menuClient.isLogged()"
        style="border-left: 2px solid rgb(233, 126, 89);">
      <md-menu>
        <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="">
          <md-icon md-svg-src="{{ menuClient.settingsIconURL }}" aria-label=""></md-icon>
          <md-tooltip>Настройки</md-tooltip>
        </md-button>
        <md-menu-content>
          <md-menu-item>
            <md-button ng-click="menuClient.resetPassword()" aria-label="">
              <md-icon md-svg-src="{{ menuClient.passwordIconURL }}" aria-label=""></md-icon>
              Змінити пароль
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ng-click="menuClient.changeUSerInfo()" aria-label="">
              <md-icon md-svg-src="{{ menuClient.changeInfoIconURL }}" aria-label=""></md-icon>
              Змінити інформацію про себе
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </div>
</div>
