.calendar-header {
  min-width: 275px;
}

.calendar table {
  border-spacing: 15px;
}

.calendar table td {
  cursor: pointer;
  outline: none;
}

.calendar table td:hover {
  color: rgb(233, 126, 89);
}

.calendar th span {
  font-size: 12px;
  font-family: "Arial";
  color: rgb(233, 126, 89);
  font-variant: small-caps;
  text-align: center;
}

.calendar td {
  outline: none;
  font-size: 15px;
  font-family: "Arial";
  color: rgb(84, 85, 85);
  font-variant: small-caps;
  text-align: center;
}

.selectDay {
  outline: none;
  border: 2px solid rgb(233, 126, 89);
  border-radius: 50%;
}

.noSelectDay {
  outline: none;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.calendar td.event {
  color: rgb(233, 126, 89);
}

.event-container {
  margin: 15px;
  border-bottom: 1px solid rgb(233, 126, 89);
  border-right: 1px solid rgb(233, 126, 89);
  max-height: 150px;
  overflow: auto;
}

.event-container li {
  color: #e97e59;
  padding: 10px;
}

.event-container .eventItem {
  outline: none;
}

.event-container .eventItem span {
  font-size: 15px;
  font-family: "Arial";
  color: rgb(84, 85, 85);
  outline: none;
}

.event-container .eventItem span:hover {
  color: rgb(233, 126, 89);
  cursor: pointer;
}
