<div class="profile-teacher"
     layout="column" layout-wrap
     ng-cloak>
  <md-progress-linear md-mode="indeterminate"
                      ng-if="profileTeacher.loading"></md-progress-linear>
  <div ng-if="!profileTeacher.loading">
    <menu-client></menu-client>
    <div class="profile-teacher-container"
         layout layout-xs="column" layout-align="space-around center"
         layout-wrap
         layout-margin layout-padding>
      <div>
        <img ng-src="{{ profileTeacher.user.avatar }}" alt=""/>
      </div>
      <div layout layout-align="space-around center"
           layout-margin layout-padding>
        <div class="profile-teacher-username"
             layout="column" layout-align="center center"
             layout-margin>
          <div>
            {{ profileTeacher.user.name }} {{ profileTeacher.user.surname }}
          </div>
          <div>
            {{ profileTeacher.user.description }}
          </div>
        </div>
        <div class="profile-teacher-info"
             layout="column">
          <span>{{ profileTeacher.user.phone }}</span>
          <span>{{ profileTeacher.user.birthday }}</span>
          <span>{{ profileTeacher.user.email }}</span>
        </div>
      </div>
    </div>
    <div class="task-container"
         layout layout-align="center start"
         layout-xs="column" layout-align-xs="center center"
         layout-sm="column" layout-align-sm="center center">
      <div layout="column">
        <md-virtual-repeat-container id="group-container">
          <div id="header">
            <div>
              Предмет:
            </div>
            <div></div>
          </div>
          <div class="group-item" flex
               md-virtual-repeat="subject in profileTeacher.subjects"
               ng-click="profileTeacher.getSubject(subject)">
            {{ subject.name}}
          </div>
        </md-virtual-repeat-container>
        <calendar></calendar>
        <md-button class="md-raised teacher-create-test-button"
                   ng-click="profileTeacher.goToCreateTest()">
          Створити тест
        </md-button>
      </div>
      <div class="group"
           layout="column"
           layout-wrap
           leyout-margin>
        <div class="group-container">
          <h3>Список груп:</h3>

          <div class="group-container-item"
               layout-margin
               ng-repeat="group in profileTeacher.groups"
               ng-click="profileTeacher.showStudents(group)">
            {{ group.name }}
          </div>
        </div>
        <div class="group-container group-student-container"
             layout layout-align="space-between stretch">
          <div>
            <h3>Студенти:</h3>

            <div class="group-student-container-item"
                 layout-margin
                 ng-repeat="student in profileTeacher.students"
                 ng-click="profileTeacher.showStudentInfo(student)">
              {{ student.surname }} {{ student.name }}
            </div>
          </div>
          <div>
            <h3 class="students-tasks">Завдання:</h3>

            <div class="students-tasks-item"
                 ng-repeat="task in profileTeacher.tasks">
              {{ task.name }}
            </div>
            <md-button class="md-raised teacher-bind-task-with-group"
                       ng-click="profileTeacher.bindingTaskWithGroup()">
              Додати завдання
            </md-button>
          </div>
        </div>
      </div>
    </div>
    <footer></footer>
  </div>
  <md-sidenav class="md-sidenav-right"
              md-component-id="teacher-task-list">
    task
  </md-sidenav>
</div>
