<div class="profile-teacher"
     layout="column" layout-wrap
     ng-cloak>
  <md-progress-linear md-mode="indeterminate"
                      ng-if="profileTeacher.loading"></md-progress-linear>
  <div ng-if="!profileTeacher.loading">
    <menu-client></menu-client>
    <div class="profile-teacher-container"
         layout layout-xs="column" layout-align="space-around center"
         layout-wrap
         layout-margin layout-padding>
      <div>
        <img ng-src="{{ profileTeacher.teacher.avatar }}" alt=""/>
      </div>
      <div layout layout-align="space-around center"
           layout-margin layout-padding>
        <div class="profile-teacher-username"
             layout="column" layout-align="center center"
             layout-margin>
          <div>
            {{ profileTeacher.teacher.name }} {{ profileTeacher.teacher.surname }}
          </div>
          <div>
            {{ profileTeacher.teacher.description }}
          </div>
        </div>
        <div class="profile-teacher-info"
             layout="column">
          <span>{{ profileTeacher.teacher.phone }}</span>
          <span>{{ profileTeacher.teacher.birthday }}</span>
          <span>{{ profileTeacher.teacher.email }}</span>
        </div>
      </div>
    </div>
    <div class="task-container"
         layout layout-align="center start"
         layout-xs="column" layout-align-xs="center center"
         layout-sm="column" layout-align-sm="center center">
      <div layout="column">
        <treecontrol class="tree-light"
                     tree-model="profileTeacher.treeControl.data"
                     options="profileTeacher.treeControl.options"
                     on-selection="showSelected(node)"
                     selected-node="node1">
          <span ng-drop="profileTeacher.canNgDrop(node)"
                ng-drop-success="profileTeacher.onDropComplete($data, $event, node)"
                ng-dblclick="profileTeacher.showTask(node)">
            <span ng-switch="" on="node.type">
              <span ng-switch-when="subject" aria-hidden="true">
                <md-icon md-svg-src="{{ profileTeacher.subjectIconURL }}" aria-label=""></md-icon>
              </span>
              <span ng-switch-when="group" aria-hidden="true">
                <md-icon md-svg-src="{{ profileTeacher.groupIconURL }}" aria-label=""></md-icon>
              </span>
              <span ng-switch-when="student" aria-hidden="true">
                <md-icon md-svg-src="{{ profileTeacher.studentIconURL }}" aria-label=""></md-icon>
              </span>
            </span>
            {{ node.name }}
          </span>
        </treecontrol>
        <calendar></calendar>
        <md-button class="md-raised teacher-create-test-button"
                   ng-click="profileTeacher.showTeacherOptions()">
          Опція викладача
        </md-button>
        <md-button class="md-raised teacher-create-test-button"
                   ng-click="profileTeacher.showTestResult()">
          test result
        </md-button>
      </div>
      <div class="group"
           layout="column"
           layout-wrap
           layout-margin>
        <div>
          <md-progress-linear md-mode="indeterminate"
                              ng-if="profileTeacher.teacherModuleLoading"></md-progress-linear>
          <div ng-repeat="module in profileTeacher.teacher.modules track by $index"
               ng-if="!profileTeacher.teacherModuleLoading">
            <h3 class="text-with-simple-style">{{ module.name }}</h3>
            <div layout-padding>
              <div class="md-1-line wrapper-item"
                   layout layout-align="space-between center"
                   ng-repeat="item in module.items">
                <div class="md-list-item-text non-select cursor-pointer"
                     ng-drag="true" ng-drag-data="{ data: item, type: 'item' }" data-allow-transform="true">
                  {{ item.name }}
                </div>
                <md-button class="md-icon-button"
                           ng-click="profileTeacher.showModule(item)">
                  <md-icon md-svg-icon="{{ profileTeacher.moduleInfoIconURL }}"></md-icon>
                  <md-tooltip>Переглянути</md-tooltip>
                </md-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <md-sidenav class="md-sidenav-left ckeditor-style"
                md-component-id="ckeditor"
                layout="column" layout-align="space-between stretch">
    <textarea ckeditor="profileTeacher.CKEditorOptions" ng-model="profileTeacher.CKEditorContent.content"
              layout-margin></textarea>

      <div layout layout-aligment="start center">
        <span flex></span>
        <md-button class="md-icon-button"
                   ng-click="profileTeacher.saveCKEditorContent()">
          <md-icon md-svg-icon="{{ profileTeacher.saveIconURL }}"></md-icon>
          <md-tooltip md-direction="top">Зберегти</md-tooltip>
        </md-button>
      </div>
    </md-sidenav>
    <md-sidenav class="md-sidenav-right"
                md-component-id="targetTasks"
                layout="column" layout-align="space-between stretch">
      <div layout-padding>
        <h1 class="text-with-simple-style">{{ profileTeacher.targetTasks.name }}</h1>

        <div class="text-with-simple-style"
             ng-if="!profileTeacher.targetTasks.tasks.length">
          Список задач порожній
        </div>
        <div class="text-with-simple-style-hover text-without-style cursor-pointer outline-off"
             ng-repeat="task in profileTeacher.targetTasks.tasks track by $index"
             ng-click="profileTeacher.removeTaskFromTarget(task)">
          {{ task.name }}
        </div>
      </div>
      <div class="text-with-simple-style"
           layout-padding>
        Натисніть на задачу для видалення
      </div>
    </md-sidenav>
    <footer></footer>
  </div>
</div>
