<div class="profile-teacher"
     layout="column" layout-wrap
     ng-cloak>
  <md-progress-linear md-mode="indeterminate"
                      ng-if="profileTeacher.loading"></md-progress-linear>
  <div ng-if="!profileTeacher.loading">
    <menu-client></menu-client>
    <div class="profile-teacher-container"
         layout layout-xs="column" layout-align="space-around center"
         layout-wrap
         layout-margin layout-padding>
      <div>
        <img ng-src="{{ profileTeacher.teacher.avatar }}" alt=""/>
      </div>
      <div layout layout-align="space-around center"
           layout-margin layout-padding>
        <div class="profile-teacher-username"
             layout="column" layout-align="center center"
             layout-margin>
          <div>
            {{ profileTeacher.teacher.name }} {{ profileTeacher.teacher.surname }}
          </div>
          <div>
            {{ profileTeacher.teacher.description }}
          </div>
        </div>
        <div class="profile-teacher-info"
             layout="column">
          <span>{{ profileTeacher.teacher.phone }}</span>
          <span>{{ profileTeacher.teacher.birthday }}</span>
          <span>{{ profileTeacher.teacher.email }}</span>
        </div>
      </div>
    </div>
    <div class="task-container"
         layout layout-align="center start"
         layout-xs="column" layout-align-xs="center center"
         layout-sm="column" layout-align-sm="center center">
      <div layout="column">
        <treecontrol class="tree-light"
                     tree-model="profileTeacher.treeControl.data"
                     options="profileTeacher.treeControl.options"
                     on-selection="showSelected(node)"
                     selected-node="node1">
          <span ng-drop="profileTeacher.canNgDrop(node)"
                ng-drop-success="profileTeacher.onDropComplete($data, $event, node)"
                ng-dblclick="profileTeacher.showTask(node)">
            <span ng-switch="" on="node.type">
              <span ng-switch-when="subject" aria-hidden="true">
                <md-icon md-svg-src="{{ profileTeacher.subjectIconURL }}" aria-label=""></md-icon>
              </span>
              <span ng-switch-when="group" aria-hidden="true">
                <md-icon md-svg-src="{{ profileTeacher.groupIconURL }}" aria-label=""></md-icon>
              </span>
              <span ng-switch-when="student" aria-hidden="true">
                <md-icon md-svg-src="{{ profileTeacher.studentIconURL }}" aria-label=""></md-icon>
              </span>
            </span>
            {{ node.name }}
          </span>
        </treecontrol>
        <calendar option="profileTeacher.currentSelectedDate"></calendar>
        <md-button class="md-raised teacher-create-test-button"
                   ng-click="profileTeacher.showTeacherOptions()">
          Опція викладача
        </md-button>
        <md-button class="md-raised teacher-create-test-button"
                   ng-click="profileTeacher.showTestResult()">
          test result
        </md-button>
      </div>
      <div class="group"
           layout="column"
           layout-wrap
           layout-margin>
        <div>
          <md-progress-linear md-mode="indeterminate"
                              ng-if="profileTeacher.teacherModuleLoading"></md-progress-linear>
          <div ng-repeat="module in profileTeacher.teacher.modules.moduleGroups track by $index"
               ng-if="!profileTeacher.teacherModuleLoading">
            <div layout layout-align="space-between center">
              <h3 class="text-with-simple-style"
                  inline-edit="module.name"
                  inline-edit-callback="profileTeacher.updateModuleGroupName(newValue, module)"
                  inline-edit-btn-edit=""
                  inline-edit-on-blur="save"
                  inline-edit-on-click></h3>
              <md-button class="md-icon-button"
                         ng-click="profileTeacher.addModuleInGroup(module)">
                <md-icon md-svg-icon="{{ profileTeacher.addModuleInfoIconURL }}"></md-icon>
                <md-tooltip>Додати контент</md-tooltip>
              </md-button>
            </div>
            <div layout-padding>
              <div class="md-1-line wrapper-item"
                   layout layout-align="space-between center"
                   layout-padding
                   ng-repeat="item in module.modules">
                <div class="md-list-item-text non-select cursor-pointer"
                     ng-drag="true" ng-drag-data="{ data: item, type: 'module' }" data-allow-transform="true">
                  {{ item.name }}
                </div>
                <md-button class="md-icon-button"
                           ng-click="profileTeacher.showModule(item)">
                  <md-icon md-svg-icon="{{ profileTeacher.moduleInfoIconURL }}"></md-icon>
                  <md-tooltip>Редагувати</md-tooltip>
                </md-button>
              </div>
            </div>
          </div>
          <div layout="column" layout-align="space-between start"
               ng-if="!profileTeacher.teacherModuleLoading">
            <h3 class="text-with-simple-style">Тести</h3>

            <div class="md-1-line wrapper-item"
                 layout layout-align="space-between start"
                 layout-padding
                 layout-fill
                 ng-repeat="test in profileTeacher.teacher.modules.tests track by $index">
              <div class="md-list-item-text non-select cursor-pointer"
                   ng-drag="true" ng-drag-data="{ data: test, type: 'test' }" data-allow-transform="true">
                {{ test.name }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <md-sidenav class="md-sidenav-left ckeditor-style"
                md-component-id="ckeditor"
                layout="column" layout-align="space-between stretch">
    <textarea ckeditor="profileTeacher.CKEditorOptions" ng-model="profileTeacher.CKEditorContent.content"
              layout-margin></textarea>

      <div layout layout-aligment="start center">
        <span flex></span>
        <md-button class="md-icon-button"
                   ng-click="profileTeacher.saveCKEditorContent()">
          <md-icon md-svg-icon="{{ profileTeacher.saveIconURL }}"></md-icon>
          <md-tooltip md-direction="top">Зберегти</md-tooltip>
        </md-button>
        <md-button class="md-icon-button"
                   ng-click="profileTeacher.removeModuleContentFromGroup()"
                   ng-if="profileTeacher.CKEditorContent.target != 'new'">
          <md-icon md-svg-icon="{{ profileTeacher.removeIconURL }}"></md-icon>
          <md-tooltip md-direction="top">Видалити</md-tooltip>
        </md-button>
      </div>
    </md-sidenav>
    <md-sidenav class="md-sidenav-right"
                md-component-id="targetTasks"
                layout="column" layout-align="space-between stretch">
      <md-progress-linear md-mode="indeterminate"
                          ng-if="profileTeacher.loadingtargetTask"></md-progress-linear>
      <div ng-if="!profileTeacher.loadingtargetTask"
           layout-padding>
        <h1 class="text-with-simple-style">{{ profileTeacher.targetTasks.name }}</h1>

        <div layout="column" layout-align="space-between center">
          <h3 class="text-with-simple-style">Інтервал</h3>

          <div layout>
            <h4 class="text-with-simple-style">Початок</h4>
            <md-datepicker ng-model="profileTeacher.intervalForTask.from" md-placeholder=""
                           md-max-date="profileTeacher.intervalForTask.to"
                           ng-change="profileTeacher.showTaskForStudent(profileTeacher.targetTasks.target)"></md-datepicker>
          </div>
          <div layout>
            <h4 class="text-with-simple-style">Кінець</h4>
            <md-datepicker ng-model="profileTeacher.intervalForTask.to" md-placeholder=""
                           md-min-date="profileTeacher.intervalForTask.from"
                           ng-change="profileTeacher.showTaskForStudent(profileTeacher.targetTasks.target)"></md-datepicker>
          </div>
        </div>

        <div class="text-with-simple-style"
             ng-if="!profileTeacher.targetTasks.tasks.length">
          Список задач порожній
        </div>
        <div class="text-with-simple-style-hover text-without-style cursor-pointer outline-off"
             ng-repeat="task in profileTeacher.targetTasks.tasks track by $index"
             ng-click="profileTeacher.removeTaskFromTarget(task)">
          {{ task.attachment.name }}
        </div>
      </div>
      <div class="text-with-simple-style"
           layout-padding>
        Натисніть на задачу для видалення
      </div>
    </md-sidenav>
    <md-sidenav class="md-sidenav-right"
                md-component-id="student-files"
                layout="column" layout-align="start start">
      <h2 class="text-with-simple-style"
          layout-padding>
        Список файлів
      </h2>

      <div class="outline-off cursor-pointer text-with-simple-style-hover text-without-style"
           ng-repeat="file in profileTeacher.studentFiles track by $index"
           ng-click="profileTeacher.downloadFile(file.path)"
           layout-margin layout-padding>
        [ {{ file.updated_at }} ] <span class="text-with-simple-style">{{ file.filename }}</span>
      </div>
    </md-sidenav>
    <footer></footer>
  </div>
</div>
