<div>
  <md-progress-linear md-mode="indeterminate"
                      ng-if="testPass.loading"></md-progress-linear>
  <div class="test-pass">
    <div class="test-pass-header"
         layout layout-align="space-between center"
         layout-xs="column">
      <div layout layout-align="center center"
           layout-margin>
        <round-progress
            max="testPass.test.questions.length"
            current="testPass.test.countAnswered"
            color="rgb(233, 126, 89)"
            bgcolor="#eaeaea"
            radius="15"
            stroke="2"
            semi="false"
            offset="inherit"
            clockwise="true"
            responsive="false"
            duration="800"
            animation="easeInOutQuart"
            animation-delay="0"></round-progress>
        <div layout-margin>Результат</div>
      </div>

      <h1>{{ testPass.test.name }}</h1>

      <div layout layout-align="center center"
           layout-margin>
        <div layout-margin>Час</div>
        <round-progress
            max="testPass.test.questions[testPass.test.currentQuestionIndex].time"
            current="testPass.questionTimer"
            color="rgb(233, 126, 89)"
            bgcolor="#eaeaea"
            radius="15"
            stroke="2"
            semi="false"
            offset="inherit"
            clockwise="true"
            responsive="false"
            duration="800"
            animation="easeInOutQuart"
            animation-delay="0"></round-progress>
      </div>
    </div>
    <div class="test-pass-content">
      <div class="question-button"
           layout layout-align="space-between start">
        <md-button class="md-raised test-pass-button"
                   ng-click="testPass.nextQuestion()">
          Відповісти
        </md-button>
        <md-button class="md-raised test-pass-button"
                   ng-click="testPass.skipQuestion()">
          Пропустити
        </md-button>
      </div>
      <div class="question-header"
           layout layout-align="space-between center"
           layout-xs="column"
           layout-margin>
        <h3>
          {{ testPass.test.questions[testPass.test.currentQuestionIndex].name }}
        </h3>
        <img ng-src="{{ testPass.test.questions[testPass.test.currentQuestionIndex].img }}" alt=""
             ng-if="testPass.test.questions[testPass.test.currentQuestionIndex].img"/>
      </div>
      <div class="question-content"
           layout="column" layout-align="space-around start"
           layout-margin>

        <!--single-->
        <md-radio-group ng-model="testPass.test.questions[testPass.test.currentQuestionIndex].answerId"
                        ng-if="testPass.test.questions[testPass.test.currentQuestionIndex].type == testPass.type.single">
          <md-radio-button ng-value="answer.id" class="md-primary"
                           ng-repeat="answer in testPass.test.questions[testPass.test.currentQuestionIndex].answers track by $index">
            {{ answer.name }}
          </md-radio-button>
        </md-radio-group>

        <!--multiselect-->
        <md-checkbox ng-model="testPass.test.questions[testPass.test.currentQuestionIndex].answers[$index].selected"
                     aria-label=""
                     ng-repeat="answer in testPass.test.questions[testPass.test.currentQuestionIndex].answers track by $index"
                     ng-if="testPass.test.questions[testPass.test.currentQuestionIndex].type == testPass.type.multiSelect">
          {{ answer.name }}
        </md-checkbox>
      </div>
    </div>
  </div>
</div>