<div>
  <md-progress-linear md-mode="indeterminate"
                      ng-if="testPass.loading"></md-progress-linear>
  <div class="test-pass"
       ng-if="!testPass.loading">
    <div class="test-pass-header"
         layout layout-align="space-between center"
         layout-xs="column">
      <div layout layout-align="center center"
           layout-margin>
        <round-progress
            max="testPass.questionCount"
            current="testPass.answers.length"
            color="rgb(233, 126, 89)"
            bgcolor="#eaeaea"
            radius="15"
            stroke="2"
            semi="false"
            offset="inherit"
            clockwise="true"
            responsive="false"
            duration="800"
            animation="easeInOutQuart"
            animation-delay="0"></round-progress>
        <div layout-margin>Результат</div>
      </div>

      <h1>{{ testPass.test.name }}</h1>

      <div layout layout-align="center center"
           layout-margin>
        <div layout-margin>Час</div>
        <round-progress
            max="testPass.getTotalTime()"
            current="testPass.tickerSecond"
            color="rgb(233, 126, 89)"
            bgcolor="#eaeaea"
            radius="15"
            stroke="2"
            semi="false"
            offset="inherit"
            clockwise="true"
            responsive="false"
            duration="800"
            animation="easeInOutQuart"
            animation-delay="0"></round-progress>
      </div>
    </div>
    <div class="test-pass-content">
      <div class="question-button"
           layout layout-align="space-between start">
        <md-button class="md-raised test-pass-button"
                   ng-click="testPass.nextQuestion()">
          Відповісти
        </md-button>
        <md-button class="md-raised test-pass-button"
                   ng-click="testPass.skipQuestion()"
                   ng-disabled="testPass.isSkipQuestion()">
          Пропустити
        </md-button>
      </div>
      <div class="question-header"
           layout layout-align="space-between center"
           layout-xs="column"
           layout-margin>
        <div ng-bind-html="testPass.UIQuestion.name"></div>
      </div>
      <div class="question-content"
           layout="column" layout-align="space-around start"
           layout-margin>

        <!--single-->
        <md-radio-group ng-model="testPass.UIQuestion.answerId" aria-label="Відповідь"
                        ng-if="testPass.UIQuestion.type == testPass.type.single">
          <md-radio-button ng-value="answer.id" class="md-primary" aria-label="Відповідь"
                           ng-repeat="answer in testPass.UIQuestion.answers track by $index">
            <span ng-bind-html="answer.body"></span>
          </md-radio-button>
        </md-radio-group>

        <!--multiselect-->
        <md-checkbox ng-model="testPass.UIQuestion.answers[$index].isSelect"
                     aria-label="Відповідь"
                     ng-repeat="answer in testPass.UIQuestion.answers track by $index"
                     ng-if="testPass.UIQuestion.type == testPass.type.multiSelect">
          <span ng-bind-html="answer.body"></span>
        </md-checkbox>
      </div>
    </div>
  </div>
</div>