<div class="menu-admin"
     layout="column" layout-align="space-around center">
  <div class="menu-admin-container"
       layout layout-sm="column" layout-align="center center"
       layout-wrap>
    <div class="menu-admin-users"
         layout="column" layout-align="center center"
         ng-click="menuAdmin.goToUsers()">
      <img ng-src="{{ menuAdmin.usersIconURL }}" alt="">
      <div>
        Користувачі
      </div>
    </div>
    <div class="menu-admin-faculties"
         layout="column" layout-align="center center"
         ng-click="menuAdmin.goToFaculties()">
      <img ng-src="{{ menuAdmin.facultiesIconURL }}" alt="">
      <div>
        Факультети
      </div>
    </div>
    <div class="menu-admin-faculties"
         layout="column" layout-align="center center"
         ng-click="menuAdmin.goToGroups()">
      <img ng-src="{{ menuAdmin.groupsIconURL }}" alt="">
      <div>
        Групи
      </div>
    </div>
    <div class="menu-admin-faculties"
         layout="column" layout-align="center center"
         ng-click="menuAdmin.goToTests()">
      <img ng-src="{{ menuAdmin.testsIconURL }}" alt="">
      <div>
        Тести
      </div>
    </div>
    <div class="menu-admin-faculties"
         layout="column" layout-align="center center"
         ng-click="menuAdmin.goToCourse()">
      <img ng-src="{{ menuAdmin.courseIconURL }}" alt="">
      <div>
        Курси
      </div>
    </div>
  </div>
</div>
