<div class="profile-student"
     layout="column" layout-wrap
     ng-cloak>
  <md-progress-linear md-mode="indeterminate"
                      ng-if="profileStudent.loading"></md-progress-linear>
  <div ng-if="!profileStudent.loading">
    <menu-client></menu-client>
    <div class="profile-student-container"
         layout layout-xs="column" layout-align="space-around center"
         layout-wrap
         layout-margin layout-padding>
      <div>
        <img ng-src="{{ profileStudent.user.avatar }}" alt=""/>
      </div>
      <div layout layout-align="space-around center"
           layout-margin layout-padding>
        <div class="profile-student-username"
             layout-margin layout-padding>
          {{ profileStudent.user.name }} {{ profileStudent.user.surname }}
        </div>
        <div class="profile-student-info"
             layout="column">
          <span>{{ profileStudent.user.phone }}</span>
          <span>{{ profileStudent.user.birthday }}</span>
          <span>{{ profileStudent.user.email }}</span>
        </div>
      </div>
    </div>
    <div class="task-container"
         layout layout-align="center start"
         layout-xs="column" layout-align-xs="center center"
         layout-sm="column" layout-align-sm="center center">
      <div layout="column">
        <md-virtual-repeat-container id="subject-container"
                                     ng-if="!profileStudent.isArray()">
          <div id="header">
            <div>
              Предмети:
            </div>
            <div></div>
          </div>
          <div class="subject-item"
               ng-repeat="item in profileStudent.subjects track by $index"
               ng-click="profileStudent.getSubjectTask(item)">
            {{ item.subject.name }}
          </div>
        </md-virtual-repeat-container>
        <calendar option="profileStudent.currentSelectedDate"></calendar>
      </div>
      <div class="subject"
           layout="column" layout-align="space-between start"
           layout-margin layout-padding
           layout-fill>
        <div ng-if="!profileStudent.isArray()">
          <md-progress-linear md-mode="indeterminate"
                              ng-if="profileStudent.loadingTaskSubject"></md-progress-linear>
        </div>
        <h2 class="text-with-simple-style"
            ng-if="profileStudent.userTasks.length == 0 && !profileStudent.loadingTaskSubject || profileStudent.nothingToShow">
          Список порожній
        </h2>

        <div style="border: 1px solid rgb(233, 126, 89);"
             layout layout-align="space-between center"
             ng-repeat="module in profileStudent.userTasks track by $index"
             ng-if="!profileStudent.loadingTaskSubject"
             layout-fill>
          <div class="outline-off cursor-pointer text-with-simple-style-hover text-without-style"
               ng-click="profileStudent.showModuleContent(module)">
            {{ module.attachment.name }}
          </div>
          <md-button class="md-icon-button" aria-label=""
                     ng-click="profileStudent.uploadFile(module)">
            <md-icon md-svg-icon="{{ profileStudent.fileUploadURLImage }}" aria-label=""></md-icon>
            <md-tooltip md-direction="left">Завантадити файл</md-tooltip>
          </md-button>
        </div>
      </div>
    </div>
    <md-sidenav md-component-id="module-content"
                class="md-sidenav-right ckeditor-style"
                style="padding: 0"
                layout="column" layout-align="center center"
                layout-padding layout-fill>
      <div style="overflow-y: auto"
           ng-bind-html="profileStudent.selectedMduleContent"></div>
    </md-sidenav>
    <footer></footer>
  </div>
</div>
