<div>
  <md-progress-linear md-mode="indeterminate"
                      ng-if="groupList.loading"></md-progress-linear>
  <div class="admin-group"
       layout="column" layout-align="center center"
       ng-cloak layout-wrap
       ng-if="!groupList.loading">
    <div class="admin-group-container"
         layout layout-xs="column"
         layout-align="center start" layout-align-xs="center center"
         layout-margin layout-padding>
      <div>
        <h3>Факультетів</h3>

        <div class="group-faculty-container">
          <div class="group-faculty-container-item"
               ng-repeat="faculty in groupList.faculties"
               ng-click="groupList.showFacultyDirections(faculty)">
            {{ faculty.name }}
          </div>
        </div>
      </div>
      <div>
        <h3>Направлення</h3>

        <div class="group-direction-container">
          <div class="group-direction-container-item"
               ng-repeat="direction in groupList.directions"
               ng-click="groupList.selectDirection(direction)">
            {{ direction.name }}
          </div>
        </div>
      </div>
    </div>
    <div class="group-info-container">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Створити групу">
          <md-content class="md-padding"
                      layout layout-xs="column"
                      layout-align="space-between start">
            <div>
              <md-button class="md-icon-button" aria-label=""
                         ng-click="groupList.saveGroup()">
                <md-icon md-svg-src="{{ groupList.saveGroupIconURL }}" aria-label=""></md-icon>
                <md-tooltip md-direction="right">Зберегти</md-tooltip>
              </md-button>
              <h3 inline-edit="groupList.group.name"
                  inline-edit-callback="groupList.editGroupName(newValue)"
                  inline-edit-btn-edit=""
                  inline-edit-on-blur="save"
                  inline-edit-on-click></h3>

              <div class="md-margin">Факультет: {{ groupList.group.faculty.name }}</div>
              <div class="md-margin">Направлення: {{ groupList.group.direction.name }}</div>
              <div> Список групи {{ groupList.group.name }} :</div>
              <div layout-margin>
                <div ng-if="!groupList.group.students.length">
                  Група порожня
                </div>
                <div ng-repeat="student in groupList.group.students track by $index">
                  <md-icon class="group-student-remove-img"
                           md-svg-src="{{ groupList.removeStudentIconURL }}" aria-label=""
                           ng-click="groupList.removeStudent(student)"></md-icon>
                  {{ student.name }} {{ student.surname }}
                </div>
              </div>
            </div>
            <md-progress-circular class="md-warn md-hue-3"
                                  md-mode='indeterminate'
                                  ng-if="groupList.loadingStudents"></md-progress-circular>
            <div ng-if="!groupList.loadingStudents">
              <h3>Список студентів</h3>

              <div class="group-student-container">
                <div class="group-student-container-item"
                     ng-repeat="student in groupList.students track by $index">
                  <md-checkbox ng-model="student.isChecked" aria-label=""
                               ng-change="groupList.checkedStudent(student)">
                    {{ student.name }} {{ student.surname }}
                  </md-checkbox>
                </div>
              </div>
              <div class="pagination"
                   layout layout-align="center center">
                <div class="pagination-page"
                     ng-repeat="page in groupList.range(groupList.students.total) track by $index"
                     ng-click="groupList.jumpToPageStudents($index + 1)">
                </div>
              </div>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="Список груп">
          <md-content class="md-padding">
            <md-progress-linear md-mode="indeterminate"
                                ng-if="groupList.loadingGroups"></md-progress-linear>
            <div ng-if="!groupList.loadingGroups"
                 layout-margin>
              <div layout-margin>
                Факультет: {{ groupList.paramsGroups.faculty.name }}
              </div>
              <div>
                Напрямок: {{ groupList.paramsGroups.direction.name }}
              </div>
              <h3>Список груп:</h3>

              <div ng-if="!groupList.groups.length">
                Список груп порожній
              </div>
              <div ng-repeat="group in groupList.groups track by $index">
                <md-icon class="group-student-remove-img"
                         md-svg-src="{{ groupList.removeStudentIconURL }}" aria-label=""
                         ng-click="groupList.removeGroup($event, group)"></md-icon>
                {{ group.name }}
              </div>

              <div class="pagination"
                   layout layout-align="center center">
                <div class="pagination-page"
                     ng-repeat="page in groupList.range(groupList.groups.total) track by $index"
                     ng-click="groupList.jumpToPageGroups($index + 1)">
                </div>
              </div>
            </div>
          </md-content>
        </md-tab>
      </md-tabs>
    </div>
  </div>
</div>
