<div class="faculty"
     layout="column" layout-align="space-around center">
  <div class="faculty-general-title">
    наші факультети
  </div>
  <div class="faculty-container">
    <div ng-repeat="faculty in faculty.facultiesInfo"
         layout="row" layout-sm="column"
         layout-margin layout-padding
         layout-wrap>
      <div class="faculty-image">
        <!--<img ng-src="faculty.image" alt="">-->
      </div>
      <div class="faculty-description">
        <div class="faculty-description-name">
          {{ faculty.name }}
        </div>
        <div class="faculty-description-content">
          {{ faculty.description }}
        </div>
      </div>
      <div class="faculty-objects">
        <ui>
          <li ng-repeat="object in faculty.objects">
            <span>{{ object.name }}</span>
          </li>
        </ui>
      </div>
    </div>
  </div>
</div>
