<div class="faculty-list"
     layout="column" layout-wrap
     ng-cloak>
  <div layout="row" layout-sm="column" layout-align="space-around start"
       layout-margin layout-padding layout-wrap>
    <div class="faculty-list-container">
      <div class="faculty-list-title">Факультети</div>
      <div ng-repeat="faculty in facultyList.faculties.faculties"
           layout="row" layout-align="start center">
        <a ng-href="/#/faculty/{{ faculty.slug }}"
           class="faculty-list-item">
          <span>{{ faculty.name }}</span>
        </a>
      </div>
      <div class="pagination"
           layout layout-align="center center">
        <div class="pagination-page"
             ng-repeat="page in facultyList.range(facultyList.faculties.total) track by $index"
             ng-click="facultyList.jumpToPage($index + 1)">
        </div>
      </div>
    </div>
    <div class="faculty-list-container">
      <div class="faculty-list-title">Напрямки</div>
      <div ng-repeat="directions in facultyList.faculties.directions"
           layout="row" layout-align="start center">
        <div class="faculty-list-item">
          <div class="faculty-list-directions"
               ng-click="facultyList.showDirectionsInfo(directions)">
            {{ directions.name }}
          </div>
        </div>
      </div>
    </div>
    <div class="faculty-list-container">
      <div class="faculty-list-title">Предмети</div>
      <ui>
        <li ng-repeat="directions in facultyList.faculties.subjects">
          <span>{{ directions.name }}</span>
        </li>
      </ui>
    </div>
  </div>
</div>