<div>
  <md-progress-linear md-mode="indeterminate"
                      ng-if="facultyList.loading"></md-progress-linear>
  <div class="admin-faculty"
       layout="column" layout-align="center center"
       ng-cloak layout-wrap>
    <md-whiteframe class="md-whiteframe-1dp"
                   ng-if="!facultyList.loading"
                   layout layout-align="center center"
                   layout-margin layout-padding>
      <md-content>
        <div class="admin-faculty-container"
             layout="column"
             layout-wrap>
          <div>
            <h2>Факультет</h2>
          </div>
          <div class="admin-faculty-item"
               ng-repeat="faculty in facultyList.faculties track by $index">
            <div layout layout-align="space-between center">
              <div>{{ faculty.name }}</div>
              <md-menu>
                <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="">
                  <md-icon md-svg-icon="{{ facultyList.managerFacultyIconURL }}" aria-label=""></md-icon>
                </md-button>
                <md-menu-content>
                  <md-menu-item>
                    <md-button ng-click="facultyList.editFaculty(faculty)">
                      <md-icon md-svg-src="{{ facultyList.editFacultyIconURL }}" aria-label=""></md-icon>
                      Редагувати
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="facultyList.removeFaculty($event, faculty)">
                      <md-icon md-svg-src="{{ facultyList.removeFacultyIconURL }}" aria-label=""></md-icon>
                      Видалити
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </div>
          </div>
          <div class="pagination"
               layout layout-align="center center"
               layout-magin layout-padding>
            <div class="pagination-page"
                 ng-repeat="page in facultyList.range(facultyList.total) track by $index"
                 ng-click="facultyList.jumpToPage($index + 1)"
                 ng-if="!facultyList.isSearchFaculty">
            </div>
          </div>
        </div>
      </md-content>
    </md-whiteframe>
  </div>
  <md-fab-speed-dial md-open="facultyList.isOpen"
                     md-direction="up" class="md-fling float-button lock-size"
                     ng-if="!facultyList.loading">
    <md-fab-trigger>
      <md-button class="md-fab md-warn" aria-label="">
        <md-icon md-svg-src="{{ facultyList.menuFacultyIconURL }}" aria-label=""></md-icon>
        <md-tooltip md-direction="left">
          Операція
        </md-tooltip>
      </md-button>
    </md-fab-trigger>
    <md-fab-actions>
      <md-button class="md-fab md-raised md-mini" aria-label="Add User"
                 ng-click="facultyList.createFaculty($event)">
        <md-icon md-svg-src="{{ facultyList.createFacultyIconURL }}" aria-label=""></md-icon>
        <md-tooltip md-direction="left">
          Створити факультет
        </md-tooltip>
      </md-button>
      <md-button class="md-fab md-raised md-mini" aria-label="Filter User"
                 ng-click="facultyList.searchFaculty()">
        <md-icon md-svg-src="{{ facultyList.filterFacultyIconURL }}" aria-label=""></md-icon>
        <md-tooltip md-direction="left"
                    ng-if="!facultyList.isSearchFaculty">
          Фільтр | Пошук
        </md-tooltip>
        <md-tooltip md-direction="left"
                    ng-if="facultyList.isSearchFaculty">
          Відмінити фільтр | пошук
        </md-tooltip>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>
</div>
