<div class="login">
  <menu-client></menu-client>
  <div class="login-container"
       layout="column" layout-align="center center"
       layout-margin layout-padding
       layout-wrap>
    <h3 layout layout-align="start center">
      Вхід в систему
    </h3>
    <form name="LoginForm"
          class="LoginForm"
          layout="column" layout-align="center none">
      <div layout="column">
        <label>Електрона скринька</label>
        <input type="email" class="dl-input"
               required
               ng-model="login.user.email"/>
      </div>
      <div layout="column">
        <label>Пароль</label>
        <input type="password" class="dl-input"
               required
               ng-model="login.user.password"/>
      </div>
      <div layout="column" layout-align="center center">
        <div layout layout-align="start center">
          <md-progress-circular class="md-warn md-hue-3"
                                md-mode='indeterminate'
                                ng-if="!login.loadingLogin"></md-progress-circular>
          <md-button class="md-raised dl-footer-button" type="submit"
                     ng-click="login.login(login.user)"
                     ng-if="login.loadingLogin""
                     ng-disabled="LoginForm.$invalid">
            Вхід
          </md-button>
        </div>
        <div layout layout-align="space-around center"
             layout-padding>
          <a ng-href="/#/reset-password" layout-padding>Забули пароль?</a>
          <a ng-href="/#/register" layout-padding>Реєстрація</a>
        </div>
      </div>
    </form>
  </div>
  <footer></footer>
</div>