<div class="footer"
     layout="column">
  <menu-client class="footer-menu"></menu-client>
  <div class="footer-container"
       layout="row" layout-sm="column" layout-align="center center"
       layout-wrap>
    <div class="footer-contact">
      <div class="contact-header">
        Контакти
      </div>
      <div class="contact-body">
        <div>
          <span>
            <img ng-src="/assests/images/footer-email.png" alt="">
            contact@with-us.com
          </span>
        </div>
        <div>
          <img ng-src="/assests/images/footer-phone.png" alt="">
          +3(093) 5768981
        </div>
        <div>
          <img ng-src="/assests/images/footer-location.png" alt="">
          Україна, Черкаси
        </div>
      </div>
    </div>
    <div class="social-networks-container">
      <div class="social-networks-header">
        Соціальні мережі
      </div>
      <div class="social-networks-body" layout="row">
        <img ng-src="/assests/images/footer-twiter.png" alt="">
        <img ng-src="/assests/images/footer-gplus.png" alt="">
        <img ng-src="/assests/images/footer-vk.png" alt="">
        <img ng-src="/assests/images/footer-skype.png" alt="">
      </div>
    </div>
    <!-- Auth -->
    <div class="login"
         layout="column" layout-align="center center"
         ng-if="!footer.userCheck()">
      <form name="LoginForm"
          layout="column">
          <input type="email" class="dl-footer-input"
                 placeholder="Логін" required
                 ng-model="footer.user.email"/>
          <input type="password" class="dl-footer-input"
                 placeholder="Пароль" required
                 ng-model="footer.user.password"/>
        <div layout="column" layout-align="center center">
          <md-button class="md-raised dl-footer-button" type="submit"
                     ng-click="footer.login(footer.user)"
                     ng-disabled="LoginForm.$invalid">
           Вхід
          </md-button>
        </div>
      </form>
    </div>
  </div>
</div>
