<div class="faculty"
     layout="column" layout-align="space-around center">
  <div class="faculty-general-title">
    наші факультети
  </div>
  <div class="faculty-container">
    <div ng-repeat="faculty in facultyHome.facultiesInfo"
         layout="row" layout-sm="column"
         layout-margin layout-padding
         layout-wrap>
      <a href="" ng-click="facultyHome.showFaculty(faculty.slug)">
        <div class="faculty-image">
          <img ng-src="{{ faculty.avatar.path }}" alt=""
               ng-if="faculty.avatar.path">
        </div>
      </a>

      <div class="faculty-description">
        <a href="" ng-click="facultyHome.showFaculty(faculty.slug)">
          <div class="faculty-description-name">
            {{ faculty.name }}
          </div>
        </a>

        <div class="faculty-description-content">
          {{ faculty.description }}
        </div>
      </div>
      <div class="faculty-objects">
        <ui>
          <li ng-repeat="exam in faculty.examinations">
            <span>{{ exam }}</span>
          </li>
        </ui>
      </div>
    </div>
  </div>
</div>
